a.block-link {
  @apply bg-black !text-white px-1;
}

img {
  max-width: 100%;
}


@keyframes reveal {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(110%);
  }
}

.reveal {
  @apply relative overflow-hidden;
}

.reveal::before {
  content: '';
  @apply  block bg-black w-full h-[100%] absolute top-0 z-50;
}

.reveal-now-delayed::before {
  animation-delay: .8s;
}

.reveal-now::before {
  animation-name: reveal;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  
}


@keyframes revealImage {
  from {
    opacity: 0;
    transform: scale(.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.reveal-intro-image {
  opacity: 0;
  transform-origin: 50% 50%;
  animation-name: revealImage;
  animation-duration: .5s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}